@media screen and (max-width: 1200px) {
    .promo {
        object-fit: cover;
        min-height: 545px;
        padding: 12px 0 50px 0;
        &__wrapper {
            margin-top: 50px;
        }
        &__header{
            font-size: 38px; 
        }
        &__subheader {
            margin-top: 0;
            font-size: 21px;
        }
        &__icons {
            margin-top: 25px;
            width: 390px;
        }
    }
    .button {
        &_main {
            margin-top: 45px;
        }
    }
}    
/* ------------------------------------------------------------------------------ */
@media screen and (max-width: 991px){
    .header{
        padding: 0 7px 0 7px;
    }
    .promo {
        width: 100%;
        background-size: cover;
        object-fit: cover;
        min-height: 445px;
        padding: 7px 0 50px 0;
        &__wrapper {
            margin-top: 29px;
            padding-right: 7px;
        }
        &__header{
            font-size: 36px; 
        }
        &__subheader {
            margin-top: 0;
            font-size: 19px;
        }
        &__icons {
            margin-top: 22px;
            width: 370px;
        }
    }
}
/* ------------------------------------------------------------------------------ */
@media screen and (max-width: 767px) {
    .header{
        padding: 0 5px 0 5px;
        &__logo {
        width: 195px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        background-size: 887px 500px;
        min-height: 445px;
        padding: 7px 0 50px 0;
        &__wrapper {
            margin-top: 29px;
            padding-right: 7px;
        }
        &__header{
            font-size: 32px; 
        }
        &__subheader {
            margin-top: 0;
            font-size: 17px;
        }
        &__icons {
            margin-top: 22px;
            width: 340px;
        }
    }
}
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
    
}